
//TODO replace p with margins on inputs, applies for all jade files
doctype html
html(lang='en')
    head
        //
          Basic Page Needs
          ––––––––––––––––––––––––––––––––––––––––––––––––––
        meta(charset='utf-8')

        title xcontract
        //
          Mobile Specific Metas
          ––––––––––––––––––––––––––––––––––––––––––––––––––
        meta(name='viewport', content='width=device-width, initial-scale=1')
        //
          FONT
          ––––––––––––––––––––––––––––––––––––––––––––––––––
        // <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        //
          CSS
          ––––––––––––––––––––––––––––––––––––––––––––––––––
        link(rel='stylesheet', href='/stylesheets/normalize.css')
        link(rel='stylesheet', href='/stylesheets/skeleton.css')
        link(rel='stylesheet', href='/stylesheets/main.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css')
        //if lt IE 9
          link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css')

        // JS files
        //
          Favicon
          ––––––––––––––––––––––––––––––––––––––––––––––––––

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='/javascripts/RegisterHandler.js')

        link(rel='icon', type='image/png', href='/images/favicon.png')
    body
        //Primary Page Layout
        //––––––––––––––––––––––––––––––––––––––––––––––––––

        a.github-fork-ribbon(href='https://github.com/James-Sangalli/xcontract', title='Fork me on GitHub') Fork me on GitHub
        div
            ul
                li
                    a(href="/")  Home
                li
                    a(href="/search") Search
                li
                    a(href="/register") Register

    .container
        .header
            h1
                | Register for xcontract
        .twelve.columns
            p
                | Please include your contract address and dApp name
            h6
                | Only contracts that are verified on etherscan will be accepted
            h6
                | #{status}
            textarea#dappName(placeholder="enter the dApp name here")
            p
            textarea#contractAddress(placeholder="please enter the contract address here")
            p
            button#register Register

html

    //End Document
    //––––––––––––––––––––––––––––––––––––––––––––––––––

