doctype html
html(lang='en')
    head
        //
          Basic Page Needs
          ––––––––––––––––––––––––––––––––––––––––––––––––––
        meta(charset='utf-8')

        title xcontract
        //
          Mobile Specific Metas
          ––––––––––––––––––––––––––––––––––––––––––––––––––
        meta(name='viewport', content='width=device-width, initial-scale=1')
        //
          FONT
          ––––––––––––––––––––––––––––––––––––––––––––––––––
        // <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        //
          CSS
          ––––––––––––––––––––––––––––––––––––––––––––––––––
        link(rel='stylesheet', href='/stylesheets/normalize.css')
        link(rel='stylesheet', href='/stylesheets/skeleton.css')
        link(rel='stylesheet', href='/stylesheets/main.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css')
        //if lt IE 9
          link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css')

        // JS files
        //
          Favicon
          ––––––––––––––––––––––––––––––––––––––––––––––––––

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src="/javascripts/bundle.js")

        link(rel='icon', type='image/png', href='/images/favicon.png')
    body
        //Primary Page Layout
        //––––––––––––––––––––––––––––––––––––––––––––––––––

        div
            ul
                li
                    a(href="/")  Home
                li
                    a(href="/search") Search
                li
                    a(href="/sign") Sign/Verify
                li
                    a(href="https://alphawallet.com/") About us
                h3(align="right")
                    a.btn.btn-link(href='https://github.com/James-Sangalli/xcontract', id="githubTitle") xcontract

    .container
        .header
        h3 Sign/Verify a message
        .twelve.columns
            textarea#messageBox(placeholder="Place your message here")
            textarea#output(readonly=true, placeholder="Signature will go here after signing")
            br
            button#signButton Sign

        .twelve.columns
            textarea#verifyMessageBox(placeholder="message to verify")
            textarea#signatureBox(placeholder="signature to verify")
            textarea#verificationAddressBox(readonly=true, placeholder="Verification address will go here")
            br
            button#verifyButton Verify
html

    //End Document
    //––––––––––––––––––––––––––––––––––––––––––––––––––

