p{
    color: white;
}

img{
  max-width: 100%;
}

article{
  padding: 5px;
  width: 5px;
  text-align: center;
}

h4{
  color: yellow;
}

h5{
  text-align: center;
  font-style: italic;
  color: yellow;
}

h1{
  color: yellow;
}



html, body, #container {
  /*height: 90%;*/
  max-width: 100%;

}


body{
  background-position: center relative;
  background-color: #222930;
  /*background: url("http://coinivore.com/wp-content/uploads/2015/05/bitcoin-and-future-space-cover.jpg") no-repeat center center fixed;*/
}

html{
/*  position:relative;*/
  background-size: 100%;
}

.header{
  margin-top: 5%;
}

.container{
  width:90%;
  max-width: 1500px;
  display:flex ;
  flex-flow:row wrap;
  align-content: space-between;

}

#footer {
 clear: both;
 position: relative;
 height: 3em;
 margin-top: -3em;
}

#content {
 padding-bottom: 3em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    max-height: 80%;
  }

li a {
    display: block;
    color: lightblue;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    max-width: 100%;
    float:left;
}

#navBar {
  margin-bottom: 25px;
}

/*body input {*/
  /*width:600px;*/
/*}*/

li a:hover {
    background-color: yellow;
}

.active{
  color: yellow;
}


/*media queries*/
@media (max-width: 750px) {
  html,body, .mainContainer{
    background: black;
  }
  #resultsForm{
    max-width: 90%;
    min-width:90%;
  }
  #donation-form{
    max-width: 90%;
    min-width:90%;
    margin-left: 0px;
  }
}
